/* Light mode styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.navbar.light-mode { background-color: #f8f9fa; /* Light background */}
.navbar.light-mode .nav-link { color: #000000; /* Light mode text color */ }

/* Dark mode styles */
body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}

.navbar.dark-mode { background-color: #333333; /* Dark background */}

.navbar.dark-mode .nav-link {color: #ffffff; /* Dark mode text color */}

.custom-button {
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

body.light-mode .custom-button { background-color: #007bff; color: #ffffff;}

body.dark-mode .custom-button { background-color: #4CAF50; color: #ffffff; }
/* Navbar Styles */
.welcome-section .navbar {
    background-color: #101214;
}

.welcome-section .navbar a.navbar-brand {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

.welcome-section .navbar a.navbar-brand:hover { color: #adb5bd;}

.welcome-section .navbar a.nav-link { color: #000000;}

.welcome-section .navbar a.nav-link:hover { color: #adb5bd;}

/* Dropdown Styles */
.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .form-group label { color: #343a40;}

.dropdown-menu .form-control { border: 1px solid #ced4da;}

.dropdown-menu .btn-primary { background-color: #007bff; border: none;}

/* Header Instruction Styles */
.header {
    padding: 1rem; /*Space around it*/
}

.header-instruction h2 { /*Convert audio file header*/
    font-size: 2rem;
    color: #495057;
}

.header-instruction p { /*Subhead: upload a song*/
    font-size: 1rem;
    color: #6c757d;
}

/* Upload Section Styles */

